<div class="snack-machine-container">
  <div class="machine-top-container">
    <div class="machine-top">
    </div>
  </div>
  <div class="machine-body">
    <div class="snacks-container">
      <div class="snacks">
        <app-items-component [items]="snacksList">
        </app-items-component>
      </div>
      <div class="dispense">
        <app-snack-dispense-component>
        </app-snack-dispense-component>
      </div>
    </div>
    <div class="controls-container">
      <app-display-component [msg]="displayedMsg">
      </app-display-component>

      <div>
        <app-cash-collect-component
          (inputCash)="onInputCash($event)"
          [disabled]="isCashInputDisabled">
        </app-cash-collect-component>

        <app-keypad-component
          [isBlocked]="isKeypadDisabled"
          (keypadTriggered)="onCustomerInput($event)">
        </app-keypad-component>
      </div>

      <app-cash-dispense-component>
      </app-cash-dispense-component>
    </div>
  </div>
</div>
