.machine-body {
  width: 550px;
  height: 650px;
  display: flex;
}

.machine-top {
  background-color: #e4be97;
  width: 523px;
  -webkit-transform: rotateX(70deg);
  transform: rotateX(70deg);
  height: 67px;
  margin: auto;
  position: absolute;
  top: -44px;
  left: 14px;
}

.machine-top-container {
  position: relative;
  perspective: 600px;
}

.snacks-container {
  background: linear-gradient(#fadbbc, white);
  width: 75%;
  display: flex;
  flex-direction: column;
  border: 10px solid #cba67f;
}

.controls-container {
  width: 25%;
  background-color: var(--gentil-black);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px 0px;
}

.snacks {
  height: 85%;
  padding: 0 0 10px;
}

.dispense {
  height: 15%;
  background-color: green;
}
