.cash-collector-container {
  width: 90%;
  margin: auto;
  height: 25px;
  border: 1px solid #cba67f;
  border-radius: 3px;
}

.cash-collector {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.cash-collector-status {
  width: 90%;
  height: 11px;
  background-color: #f88785;
  box-shadow: 0 0 6px 4px #f8989f;
}

.cash-collector-status.success {
  background-color: #43f88e;
  box-shadow: 0 0 6px 4px #43f88e;
}

.dollar-sign {
  margin: auto;
  position: absolute;
  color: #151515;
  animation: blink 1s linear infinite;
}

.cash-collector-status.success:hover, .dollar-sign {
  cursor: pointer;
}

.cash-collector-container {
  position: relative;
}

.cash-types-container {
  position: absolute;
  right: -130px;
  width: 120px;
  top: 0;
  background-color: #f8e1ca;
  border: 2px solid #ba9874;
  border-radius: 5px;
  min-height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.cash-type {
  color: white;
  width: 85%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 2px;
  box-shadow: 1px 0 4px #808080c7;
  cursor: pointer;
  background-color: #d48f58;
  font-size: 0.78em;
}

.cash-type:active {
  background-color: #d48037;
  box-shadow: unset;
}
