<div class="cash-collector-container">
  <div class="cash-collector">
    <div class="cash-collector-status" [ngClass]="{'success': !disabled}">
    </div>
  </div>
  <div class="cash-types-container" *ngIf="!disabled">
    <div class="cash-type"
         *ngFor="let type of COINS"
         (click)="onInputCash(type)">
      {{type.label}}
    </div>
  </div>
</div>
