.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #37684fa6;
}

.freightos-logo {
  position: absolute;
  top: 33px;
  left: 50px;
}
