<div class="dispense-container">
  <div class="dispense-door-container">
    <div class="dispense-door"  [ngClass]="{'open': openDispenseDoor}">
    </div>
    <div class="dispensed-snack" *ngIf="openDispenseDoor">
      <img [src]="dispensedSnack.imgURL">
    </div>
  </div>
</div>
