.dispense-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--gentil-black);
}

.dispense-door-container {
  width: 50%;
  height: 57%;
  border-radius: 13px;
  border: 4px solid #cba67f;
  position: relative;
}

.dispense-door {
  background-color: #916f4c;
  transition: 1s height;
  height: 100%;
}

.dispense-door.open {
  height: 0;
}

.dispensed-snack {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dispensed-snack img {
  width: 50px;
  position: absolute;
  top: 0;
  opacity: 0;
  animation: dispenseSnack 2s linear;
}


@keyframes dispenseSnack {
  0% {
    opacity: 0
  }

  25% {
    opacity: .25;
    transform: scale(1.5);
  }

  50% {
    opacity: .5;
    transform: scale(2);
  }

  75% {
    opacity: 1;
    transform: scale(3);
  }

  100% {
    opacity: 0;
    transform: scale(4);
  }
}
