<div class="keypad-container">
  <div class="keypad-inputs">
    <div class="keypad-input"
         [ngClass]="{'blocked': isBlocked}"
         *ngFor="let input of INPUTS"
         (click)="onKeypressed(input)">
      {{input}}
    </div>
  </div>
</div>
