.keypad-inputs {
  display: grid;
  border: 2px solid #cba67f;
  width: 100px;
  margin: 10px auto;
  border-radius: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-content: center;
  justify-items: center;
}

.keypad-input:last-child {
  grid-column: 1/3;
}

.keypad-input {
  color: #0c6738;
  background-color: #916f4c;
  padding: 10px;
  font-size: 1.2em;
  font-family: 'VT323', monospace;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #23fb8b;
}

.keypad-input:hover {
  cursor: pointer;
}

.keypad-input:active:not(.blocked){
  box-shadow: unset;
}

.blocked {
  opacity: .7;
}
