<div class="snacks-container">
  <div class="snack-container" *ngFor="let snack of items">
    <img [src]="snack.imgURL">
    <div class="snack-code">
      {{snack.position.row + '' + snack.position.column}}
    </div>
    <div class="snack-price">
      <div class="price-container">
        <span class="price-value">{{snack.price}}</span>
        <img src="https://cdn3.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2/128/sale-badge-red-512.png">
      </div>
    </div>
  </div>
</div>
