.snacks-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 100%;
}

.snack-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 8px solid;
  position: relative;
}

.snack-container img {
  width: 50px;
}

.snack-code {
  position: absolute;
  bottom: 0;
  background-color: #2b2520;
  color: white;
  padding: 5px 10px 2px;
  font-family: 'VT323', monospace;
  font-size: 1.2em;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.snack-price {
  position: absolute;
  top: 10px;
  left: 5px;
}

.price-container {
  position: relative;
}

.price-value {
  position: absolute;
  background-color: #ca2323;
  color: white;
  top: 5px;
  left: 5px;
  padding: 0 2px;
  min-width: 20px;
  text-align: center;
}

.price-container img {
  width: 30px;
}
