.display-screen {
  font-size: 1.2em;
  background-color: #362b20;
  width: 90%;
  height: 40px;
  margin: auto;
  text-align: center;
  padding: 10px;
  color: #ffffff;
  font-family: 'VT323', monospace;
  border: 2px solid #cba67f;
  border-radius: 5px;
}

.msg {
  animation: blink 1s linear infinite;
}
