/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --gentil-black: #18130f;
}

@keyframes blink{
  0%{opacity: 0;}
  25%{opacity: .5;}
  50%{opacity: 1;}
  75%{opacity: .5}
  100%{opacity: 0}
}
